<?xml version="1.0"?>
<launch>
  <include file="$(find usb_cam)/"/>
  

  <node name="Deepsort" pkg="smart_pkg" type="ds_node.py"  output="screen">
    <arg name="kp_x" default="1.0"/>
    <arg name="ki_x" default="1.0"/>
    <arg name="kd_x" default="1.0"/>

    <arg name="kp_y" default="1.0"/>
    <arg name="ki_y" default="1.0"/>
    <arg name="kd_y" default="1.0"/>
    
    <arg name="track_model_path" default="($find smartfarm_pkg)/deep_sort/deep/checkpoint/ckpt.t7"/>
    <arg name="detect_model_path" default="($find smartfarm_pkg)/config/"/>
  </node>

</launch>